{% extends 'base.html' %}

{% block title %}Minhas avaliações do parlamentar{% endblock %}

{% block description %}Minhas avaliações de {{ parlamentar['nome'] if parlamentar else 'parlamentar' }}{% endblock %}

{% import 'relatorio_componentes.html' as relatorio %}

{% macro cards(num) -%}
    {% for avaliacao in avaliacoes[num] %}
    {% macro cardsFooter(style_bg_color, style_txt_color) -%}
        <a href="/relatorio/{{ avaliacao['relatorioId'] }}" class="text-{{ style_txt_color }}">
            Ver relatório dessa atividade</a>
    {%- endmacro %}
        {% set avaliado = avaliacao['avaliado'] %}
        {% if 'tipo' in avaliado %}
            {{ relatorio.proposicaoCard(avaliado, cardsFooter, close_card=avaliacao['_id']) }}
        {% else %}
            {{ relatorio.eventoCard(
                avaliado,
                cardsFooter,
                collapse=False,
                close_card=avaliacao['_id']
            ) }}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% if parlamentar %}
    {% block page_img %}{{ parlamentar['foto'] }}{% endblock %}
{% endif %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/minhasAvaliacoes">Minhas avaliações</a>
            </li>
            <li class="breadcrumb-item active text-uppercase" aria-current="page">{{ parlamentar['nome'] }}</li>
        </ol>
    </nav>
    {% if parlamentar %}
        <div class="container mb-3 bg-light rounded">
            <div class="media">
                <div class="media-body">
                    <h1 class="text-uppercase">{{ parlamentar['nome'] }} ({{ parlamentar['partido'] }}-{{ parlamentar['uf'] }})</h1>
                    <h4 class="mt-0">Saldo total: {{ nota }}</h4>
                </div>
                <img class="align-self-start rounded" src="{{ parlamentar['foto'] }}" alt="{{ parlamentar['nome'] }}" style="max-width: 20%" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Atividades que amei
                {{ cards('2') }}
            </div>
            <div class="col-sm-3">Atividades que aprovei
                {{ cards('1') }}
            </div>
            <div class="col-sm-3">Atividades que desaprovei
                {{ cards('-1') }}
            </div>
            <div class="col-sm-3">Atividades que detestei
                {{ cards('-2') }}
            </div>
        </div>
        <div class="modal" role="dialog" id="modalConfirmarRemocao">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Apagar avaliação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza de que pretende apagar essa avaliação?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-danger">Apagar avaliação</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(".card button.close").click(function() {
                let card = this;
                confirmarRemocao("sim", $(card).attr("data-item-id"));
            });
            let confirmarRemocao = (relatorioId, itemId) => {
                $("#modalConfirmarRemocao").modal('show');
                $("#modalConfirmarRemocao button.btn-danger").one("click", () => {
                    $.ajax({
                        url: `/v1/relatorios/${relatorioId}/avaliacoes/${itemId}`,
                        method: "DELETE",
                        error: (jqXHr, txtStatus) => {
                            alert(txtStatus);
                            $("#modalConfirmarRemocao").modal('hide');
                        },
                        success: () => {
                            window.location.reload();
                        }
                    });
                });
                $("#modalConfirmarRemocao button.btn-secondary").one("click", () => {
                    $("#modalConfirmarRemocao button.btn-danger").off("click");
                });
            }
        </script>
    {% else %}
        <h5>Nenhuma avaliação para esse parlamentar</h5>
    {% endif %}
{% endblock %}