{% extends 'base.html' %}

{% block title %}Sobre o projeto{% endblock %}

{% block description %}Política de Privacidade do projeto Legislei{% endblock %}

{% block content %}
<h2>Política de Privacidade do projeto Legislei</h2>

<p>Legislei opera o website https://legislei.herokuapp.com, que provém o SERVIÇO.</p>

<p>Esta página é usada para informá-lo sobre o nosso site e seu conteúdo.</p>

<p>Se você optar por usar nosso serviço, você concorda com a coleta e o uso de informações relacionadas a essa política. As Informações Pessoais que coletamos são usadas para fornecer e melhorar o SERVIÇO. Nós não usaremos ou compartilharemos suas informações com ninguém, exceto conforme descrito nesta Política de Privacidade.</p>

<h3>Coleta e Uso de Informações</h3>

<p>Para a principal funcionalide do SERVIÇO, podemos exigir que você nos forneça algumas informações pessoais identificáveis, incluindo, entre outras, seu nome e endereço postal (Informações Pessoais). As informações que coletamos serão usadas para contatar ou identificar você.</p>

<p>Toda informação gerada por você durante o uso do SERVIÇO é estritamente confidencial; isto é, não compartilharemos suas inscrições e avaliações (Informações Políticas) com terceiros (nem mesmo relatórios de forma anônima).</p>

<h3>Registros</h3>

<p>Queremos informá-lo que, sempre que você visitar o nosso SERVIÇO, nós coletamos as informações que o seu navegador envia para nós, que é chamado de Log Data (registros). Esses dados de registro podem incluir informações como o endereço IP do seu computador, a versão do navegador, as páginas do nosso SERVIÇO que você visita, a hora e a data da sua visita, o tempo gasto nessas páginas e outras estatísticas.</p>

<h3>Cookies</h3>

<p>Cookies são arquivos com pequena quantidade de dados que são comumente usados ​​como um identificador exclusivo anônimo. Estes são enviados para o seu navegador a partir do site que você visita e são armazenados no disco rígido do seu computador.</p>

<p>Nosso site usa esses cookies para coletar informações e melhorar nossos serviços. Você tem a opção de aceitar ou recusar esses cookies e saber quando um cookie está sendo enviado para o seu computador. Se você optar por recusar nossos cookies, talvez não consiga usar algumas partes de nosso SERVIÇO.
</p>

<h3>Provedores de serviço</h3>

<p>Podemos empregar empresas e indivíduos de terceiros pelos seguintes motivos:</p>

<ul>
    <li>Para facilitar nosso SERVIÇO;</li>
    <li>Para fornecer o SERVIÇO em nosso nome;</li>
    <li>Para executar serviços relacionados a SERVIÇO; ou</li>
    <li>Para nos ajudar a analisar como nosso SERVIÇO é usado.</li>
</ul>

<p>Queremos informar aos nossos usuários do SERVIÇO que esses terceiros têm acesso somente às suas Informações Pessoais de contato (como nome e email), mas não às Informações Políticas. O motivo é executar as tarefas atribuídas a eles em nosso nome. No entanto, eles são obrigados a não divulgar ou usar as informações para qualquer outra finalidade.</p>

<h3>Segurança</h3>

<p>Valorizamos sua confiança em fornecer suas Informações Pessoais, e por isso estamos nos esforçando para usar meios comercialmente aceitáveis ​​de protegê-las. Mas lembre-se que nenhum método de transmissão pela internet, ou método de armazenamento eletrônico é 100% seguro e confiável, e não podemos garantir sua segurança absoluta.</p>

<h3>Links para outros sites</h3>

<p>Nosso SERVIÇO pode conter links para outros sites. Se você clicar em um link de terceiros, você será direcionado para esse site. Observe que esses sites externos não são operados por nós. Portanto, recomendamos que você revise a Política de Privacidade desses sites. Não temos controle e não assumimos nenhuma responsabilidade pelo conteúdo, políticas de privacidade ou práticas de quaisquer sites ou serviços de terceiros.</p>

<p>Privacidade das crianças</p>

<p>Nossos serviços não abordam ninguém com idade inferior a 13 anos. Não coletamos intencionalmente informações pessoais identificáveis ​​de crianças com menos de 13 anos. No caso de descobrirmos que uma criança com menos de 13 anos nos forneceu informações pessoais, imediatamente a excluímos de nossos servidores. Se você é pai / mãe ou tutor e sabe que seu filho nos forneceu informações pessoais, entre em contato conosco para que possamos tomar as providências necessárias.</p>

<h3>Alterações a esta Política de Privacidade</h3>

<p>Podemos atualizar nossa Política de Privacidade de tempos em tempos. Assim, aconselhamos que você revise esta página periodicamente para quaisquer alterações. Vamos notificá-lo de quaisquer alterações publicando a nova Política de Privacidade nesta página. Estas alterações entram em vigor imediatamente após serem publicadas nesta página.</p>

<h3>Contate-nos</h3>

<p>Se você tiver dúvidas ou sugestões sobre nossa Política de Privacidade, não hesite em nos <a href="https://github.com/brosquinha/politica/issues" target="_blank">contatar</a>.</p>
{% endblock %}