{% extends 'base.html' %}

{% block title %}Criar uma conta{% endblock %}

{% block description %}Crie uma conta para acompanhar seus parlamentares{% endblock %}

{% block content %}
    {% if mensagem %}
        <div class="alert alert-warning " role="alert">{{ mensagem }}</div>
    {% endif %}
    <div class="row justify-content-md-center">
        <div class="col-sm-8 text-center">
            <h3>Criar uma conta</h3>
            <form method="POST">
                <input class="form-control mb-1" name="name" placeholder="Nome de usuário" required />
                <input type="email" class="form-control mb-1" name="email" placeholder="Email" required />
                <input type="password" class="form-control mb-1" name="password" placeholder="Senha" required />
                <input type="password" class="form-control mb-1" name="password_confirmed" placeholder="Confirme a senha" required />
                <button class="btn btn-primary">Enviar</button>
            </form>
            <p class="m-2" style="font-size: .8rem;">Você concorda com nossa <a href="/privacidade">Política de Privacidade</a> ao criar uma conta.</p>
        </div>
    </div>      
{% endblock %}