{% extends 'base.html' %}

{% block title %}Criar uma conta{% endblock %}

{% block description %}Crie uma conta para acompanhar seus parlamentares{% endblock %}

{% block content %}
    <div class="alert alert-warning d-none" role="alert" id="mensagem"></div>
    <div class="row justify-content-md-center">
        <div class="col-sm-8 text-center">
            <h3>Criar uma conta</h3>
            <form name="form1">
                <input class="form-control mb-1" name="name" placeholder="Nome de usuário" required />
                <input type="email" class="form-control mb-1" name="email" placeholder="Email" required />
                <input type="password" class="form-control mb-1" name="password" placeholder="Senha" required />
                <input type="password" class="form-control mb-1" name="password_confirmed" placeholder="Confirme a senha" required />
            </form>
            <button class="btn btn-primary" id="formSubmitBtn">Enviar</button>
            <p class="m-2" style="font-size: .8rem;">Você concorda com nossa <a href="/privacidade">Política de Privacidade</a> ao criar uma conta.</p>
        </div>
    </div>
    <script>
        document.getElementById("formSubmitBtn").onclick = () => {
            document.getElementById("formSubmitBtn").setAttribute("disabled", "true");
            $("#mensagem").addClass("d-none");
            $.ajax({
                url: "/v1/usuarios",
                method: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify({
                    username: document.form1.name.value,
                    email: document.form1.email.value,
                    senha: document.form1.password.value,
                    senha_confirmada: document.form1.password_confirmed.value
                }),
                error: (jqXHR) => {
                    $("#mensagem").removeClass("d-none");
                    $("#mensagem").text(jqXHR.responseJSON.message);
                    document.getElementById("formSubmitBtn").removeAttribute("disabled");
                },
                success: (data, txtStatus, jqXHR) => {
                    window.location.href = "/login";
                }
            });
        }
    </script>
{% endblock %}