{% macro ratingButtons(color_class, id) -%}
    <button class="btn btn-{{ color_class }} rating" data-toggle="tooltip" data-placement="top" data-rating-value="2" data-rating-id="{{ id }}" title="Amei">
        <span class="fa fa-heart"></span>
    </button>
    <button class="btn btn-{{ color_class }} rating" data-toggle="tooltip" data-placement="top" data-rating-value="1" data-rating-id="{{ id }}" title="Curti">
        <span class="fa fa-thumbs-up"></span>
    </button>
    <button class="btn btn-{{ color_class }} rating" data-toggle="tooltip" data-placement="top" data-rating-value="-1" data-rating-id="{{ id }}" title="Não curti">
        <span class="fa fa-thumbs-down"></span>
    </button>
    <button class="btn btn-{{ color_class }} rating" data-toggle="tooltip" data-placement="top" data-rating-value="-2" data-rating-id="{{ id }}" title="Detestei">
        <span class="fa fa-skull"></span>
    </button>
{%- endmacro %}

{% macro proposicaoCard(item, footer_content=None, close_card=False) -%}
    {% set color_class = 'primary' if item['tipo'] in ['PL', 'PEC'] else 'info' %}
    <div class="card mb-1 text-white bg-{{ color_class }}">
        {% if close_card %}
            <button
                type="button"
                class="close"
                aria-label="Close"
                data-item-id="{{ close_card }}"
                style="position: absolute;right: 5px;">
                <span aria-hidden="true">×</span>
            </button>
        {% endif %}
        <div class="card-header">
            <a href="{{ item['urlDocumento'] if item['urlDocumento'] else 'about:blank' }}" target="_blank" class="text-white">
                {{ item['tipo'] }}{{ item['numero'] }}</a>
            ({{ item['dataApresentacao'] | formatDate(True) }})
        </div>
        <div class="card-body">
            <p class="card-text">{{ item['ementa'] }}</p>
            <p class="card-text">
                <a href="{{ item['urlDocumento'] if item['urlDocumento'] else 'about:blank' }}" target="_blank" class="text-white">Detalhes</a>
            </p>
        </div>
        <div class="card-footer text-center">
            {% if footer_content %}
                {{ footer_content(color_class, 'white') }}
            {% else %}
                {{ ratingButtons(color_class, item['id']) }}
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro eventoCard(item, footer_content=None, collapse=True, close_card=False) -%}
    {% if item['presenca'] == 3 %}
        {% set color_class = 'danger' %}
        {% set color_txt_class = 'white' %}
        <div class="card mb-1 text-white bg-danger">
    {% elif item['presenca'] == 2 %}
        {% set color_class = 'warning' %}
        {% set color_txt_class = 'white' %}
        <div class="card mb-1 text-white bg-warning">
    {% elif item['presenca'] == 1 %}
        {% set color_class = 'light' %}
        {% set color_txt_class = 'black' %}
        <div class="card mb-1 {{ 'collapse multi-collapse' if collapse }}">
    {% else %}
        {% set color_class = 'success' %}
        {% set color_txt_class = 'white' %}
        <div class="card mb-1 text-white bg-success">
    {% endif %}
    {% if close_card %}
        <button
            type="button"
            class="close"
            aria-label="Close"
            data-item-id="{{ close_card }}"
            style="position: absolute;right: 5px;">
            <span aria-hidden="true">×</span>
        </button>
    {% endif %}
        <div class="card-header">
            <a href="{{ item['url'] if item['url'] else 'about:blank' }}" target="_blank" class="text-{{ color_txt_class }}">{{ item['nome'] }}</a>
        ({{ item['dataInicial'] | formatDate(True) }}—{{ item['dataFinal'] | formatDate(True) }})
        {% if item['situacao'] %} ({{ item['situacao'] }}) {% endif %}</div>
        <div class="card-body" data-test="{{ item['pautas']|length }}">
            {% if 'error' in item['pautas'] %}
                <p class="card-text bg-danger">
                    Não foi possível obter pautas do evento.
                </p>
            {% else %}
                {% for p in item['pautas'] %}
                    <p class="card-text">
                        {% if 'error' == p['voto'] %}
                            Não foi possível obter voto do deputado
                        {% elif p['voto'] not in [None, False] and 'null' not in p['voto'] %}
                            Votou <b>{{ p['voto'] }}</b> em
                        {% else %}
                            <b>Não votou</b> em
                        {% endif %}
                        {% if 'error' == p %}
                            Não foi possível obter proposição da pauta
                        {% else %}
                            <b>{{ p['tipo'] }}</b>:
                            <a
                                href="{{ p['urlDocumento'] if p['urlDocumento'] else 'about:blank' }}"
                                target="_blank"
                                class="text-{{ color_txt_class }}">{{ p['pauta'] }}</a>
                            (<a
                                href="{{ p['urlAutores'] if p['urlAutores'] else 'about:blank' }}"
                                target="_blank"
                                class="text-{{ color_txt_class }}">ver autores</a>)
                        {% endif %}
                    </p>
                {% endfor %}
            {% endif %}
            {% if item['orgaos'] %}
            <p class="card-text">
                Órgão: <span title="{{ item['orgaos'][0]['nome'] }}">
                    {{ item['orgaos'][0]['apelido'] }}
                </span>
            </p>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            {% if footer_content %}
                {{ footer_content(color_class, color_txt_class) }}
            {% else %}
                {{ ratingButtons(color_class, item['id']) }}
            {% endif %}
        </div>
    </div>
{%- endmacro %}