{% extends 'base.html' %}

{% block title %}Gerando relatório...{% endblock %}

{% import 'parlamentar_componentes.html' as parlamentar_form %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/consultar">Consultar político</a>
            </li>
            <li class="breadcrumb-item active text-uppercase" aria-current="page">Gerando relatório...</li>
        </ol>
    </nav>
    <div class="row justify-content-md-center">
        <div class="col-sm-8 text-center">
            <svg
                    version="1.1"
                    id="L7"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 100 100"
                    enable-background="new 0 0 100 100"
                    xml:space="preserve"
                    style="width:250px">
                <path fill="#009B3A" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
                  c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z" transform="rotate(54.6361 50 50)">
                    <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="2s" from="0 50 50" to="360 50 50" repeatCount="indefinite"></animateTransform>
                </path>
                <path fill="#009B3A" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
                  c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z" transform="rotate(-109.272 50 50)">
                    <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50" to="-360 50 50" repeatCount="indefinite"></animateTransform>
                </path>
                <path fill="#009B3A" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
                  L82,35.7z" transform="rotate(54.6361 50 50)">
                    <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="2s" from="0 50 50" to="360 50 50" repeatCount="indefinite"></animateTransform>
                </path>
            </svg>
            <p>
                Gerando relatório... essa operação pode demorar de 30 segundos até 2 minutos,
                dependendo da casa legislativa.
            </p>
        </div>
    </div>
    <script>
        setInterval(() => {
            let local_url = new URL(window.location.href);
            $.ajax({
                url: "/v1/relatorios",
                method: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify({
                    casa: local_url.searchParams.get("parlamentarTipo"),
                    parlamentar: local_url.searchParams.get("parlamentar"),
                    data_final: local_url.searchParams.get("data"),
                    intervalo: parseInt(local_url.searchParams.get("dias"))
                }),
                success: (data, txtStatus, jqXHR) => {
                    if (jqXHR.status == 201) {
                        let relatorioId = data.url.split("/relatorios/")[1];
                        window.location.href = `/relatorio/${relatorioId}`;
                    }
                }
            });
        }, 5000);
    </script>
{% endblock %}