{% extends 'base.html' %}

{% block title %}Sobre o projeto{% endblock %}

{% block description %}O projeto Legislei tem como objetivo prover ao cidadão uma ferramenta de acompanhamento parlamentar.{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-sm-10 text-justify">
        <h3>Sobre Legislei</h3>
        <p class="lead">Objetivos do projeto</p>
        <p>O projeto Legislei tem como objetivo prover ao cidadão uma ferramenta de acompanhamento parlamentar.
            O sistema gera relatórios das atividades realizadas pelo político ao longo de um período de tempo e 
            envia para o usuário ao término desse período. Dessa forma, informações de proposições, votações e 
            sessões presentes são entregues ao eleitor.
        </p>
        <p>O sistema é software livre, o que significa que os usuários tem a liberdade de modificar e distribuir
            o software, desde que mantendo os projetos derivados também livres. Dessa forma, esse servidor foi
            montado para a conveniência de todos, uma vez que qualquer pessoa pode
            <a href="https://github.com/brosquinha/politica/archive/master.zip" target="_blank">baixar</a>
            o código-fonte e rodar em sua própria máquina. Para mais informações em como fazê-lo, consule a
            <a href="http://legislei.readthedocs.io/" target="_blank">documentação</a>.
        </p>
        <h3 id="casas-disponiveis">Casas legislativas disponíveis</h3>
        <p class="lead">Quais são e como acrescentar casas legislativas ao projeto</p>
        <p>Atualmente, a Câmara dos Deputados, a Assembleia Legislativa de São Paulo e a Câmara Municipal de São Paulo
            são as casas legislativas cadastradas no projeto. Porém, como o objetivo do projeto é acompanhar qualquer
            parlamentar que se deseje, a ambição do sistema é integrar com todas os órgãos legislativos do páis.
        </p>
        <p>Se você for desenvolvedor e quiser acrescentar uma casa ao sistema, consulte a
            <a href="http://legislei.readthedocs.io/" target="_blank">documentação</a>
            para entender como integrar uma nova legislatura ao projeto. Depois, crie um <i>fork</i> do
            <a href="https://github.com/brosquinha/politica" target="_blank">repositório</a> do sistema no GitHub para desenvolver a extensão.
            Quando terminar, abra um <i>Pull Request</i>.
        </p>
        <p>Se você não for desenvolvedor ou não tiver interesse em contribuir com o desenvolvimento e gostaria que alguma casa
            fosse acrescentada ao projeto, abra uma <i>issue</i> no <a href="https://github.com/brosquinha/politica" target="_blank">GitHub</a>.
        </p>
    </div>
</div>
{% endblock %}