{% extends 'base.html' %}

{% block title %}Consultar Vereador de São Paulo{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:window.history.back()">Consultar político</a>
            </li>
            <li class="breadcrumb-item">Vereador de São Paulo</li>
            <li class="breadcrumb-item active" aria-current="page">{{ politico_nome }}</li>
        </ol>
    </nav>
    <div class="container mb-3 bg-light rounded">
        <div class="media">
            <div class="media-body">
                <h1>{{ politico_nome }} ({{ politico_partido }}-{{ politico_uf }})</h1>
                <h5 class="mt-0">{{ data_inicial }} - {{ data_final }}</h5>
                Presença: <span class="collapse multi-collapse">{{ presenca }}</span>
                <span class="collapse show multi-collapse">{{ presenca_relativa }}</span>
            </div>
            <img class="align-self-start rounded" src="{{ politico_img }}" alt="{{ politico_nome }}" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">Eventos do parlamentar ({{ eventos_presentes|length }}):
                {% for item in eventos_presentes %}
                    <div class="card mb-1 bg-success text-light">
                        <div class="card-header">{{ item['titulo'] }}</div>
                        <div class="card-body">
                            <div class="card-text">{{ item['pauta'] }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm">Eventos ausentes ({{ eventos_ausentes|length }}):
                {% for item in eventos_ausentes %}
                    <div class="card mb-1">
                        <div class="card-header">{{ item['titulo'] }}</div>
                        <div class="card-body">
                            <div class="card-text">{{ item['pauta'] }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}