{% extends 'base.html' %}

{% block title %}Consultar Deputado{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Consultar Deputado</li>
        </ol>
    </nav>
    <div class="container text-center">
        <form method="POST">
            <input name="deputado" list="listaDeputados" placeholder="Deputado" required />
            <i class="fa fa-spinner fa-spin" id="loader"></i>
            <input type="date" name="data" required />
            <input type="submit" />
            <datalist id="listaDeputados"></datalist>
        </form>
    </div>
    <script>
        $.ajax({
            url: "/obterDeputados",
            method: "GET",
            error: (jqXHR, txtStatus) => {
                console.warn(txtStatus);
            },
            success: (data) => {
                data = JSON.parse(data);
                for (let i=0; i<data.length; i++) {
                    deputadoOption = document.createElement("option");
                    deputadoOption.setAttribute("value", data[i].nome);
                    deputadoOption.innerText = data[i].nome + " (" + data[i].siglaPartido +
                    "-" + data[i].siglaUf + ")";
                    document.getElementById("listaDeputados").appendChild(deputadoOption);
                }
                $("#loader").remove();
            }
        });
    </script>
{% endblock %}