<!--
    Código fonte para template de email.
    O resultado a ser efetivamente utilizado pela aplicação é produzido em
    https://bootstrapemail.com/editor. Utilizar esse código como fonte e
    salvar o resultado em relatorio_deputado_email.out.html
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" media="all" href="/assets/application-mailer-dbc5154d3c4160e8fa7ef52fa740fa402760c39b5d22c8f6d64ad5999499d263.css" />
   <style>/*<!-- Add custom styles that you want inlined here -->*/</style>
 </head>
 <!-- Edit the code below this line -->
 <body class="bg-light">
    <div class="container bg-light rounded">
      <img class="mx-auto" style="width:50px;" src="https://legislei.herokuapp.com/static/border_icon.png" />
      <h1 style="text-align:center" class="mb-5">Relatórios de parlamentares</h1>
        <div class="card mb-2 p-2">
            <div class="card-header">
              <img style="float: right; border-radius: .25rem" src="http://www.camara.leg.br/internet/deputado/bandep/73531.jpg" alt="Ivan Valente" />  
              <h2>Ivan Valente (PSOL-SP)</h2>
                <h5 class="pt-3">10/10/10 - 12/12/12</h5>
              <p class="pt-4">Compareceu a N de M eventos previstos. Fez X proposições.</p>
            </div>
          <div class="card-body" style="text-align:center">
            <a class="btn btn-primary" href="#">Ver relatório</a>
          </div>
        </div>
      <div class="text-center text-muted">Relatório de Legislei</div>
      <div class="text-center text-muted"><a href="#" class="text-dark">Gerenciar inscrições</a></div>
      <div class="text-center text-muted"><a href="#" class="text-dark">Cancelar inscrição</a></div>
   </div>
 </body>
</html>